body {
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #c4f5f3;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('../img/manage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 90%;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000;
}

.details {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
    border: darkblue solid 3px;
    border-radius: 10px;
  }

.details > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.details > h2 {
    font-size: 1.2em;
    font-weight: bold;
}

#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #111111;
  text-decoration: none;
  display: inline-block;
  margin: 2em;
}

#footer a {
  color: #ffffff;
}
.social > li {
  display: inline-block;
  margin: 0 5px;
}

.row{
  clear:both;
  display:inline-flex;
}

.column{
    width: 50%;
    float: left;
}
h1 {
  text-decoration: underline;
}

.title {
  color: Dark;
}

h3 {
  font-style: italic;
}

.skills {
  text-decoration: underline;
}